*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.bgr{
  /*background-color:#B0B0B0;*/
  background-color: #C5E1A5;
}

.main{
  padding-top: 10px;
}

.header{
  text-align: center;
  line-height: 15px;
  color: white;
  padding-bottom: 10px;
}

.flexy-center{
  display: flex;
  justify-content: center;
}

.mrg{
  margin: 10px;
}

.pdg{
  padding: 8px;
}


.pdgtopselect{
  padding-top: 15px;
}

.pdgbottom{
  padding-bottom: 20px;
}

.textcenter{
  text-align: center;
}

.flexy-space-betw{
  display: flex;
  justify-content: space-between;
}

.flexy-space-ar{
  display: flex;
  justify-content: space-around;
}


.flexy-vertical{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flexy-vertical-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flexy-align{
  align-items: center;
}

.flexy-vertical-betw{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.todo{
  width: 100%;
  border-radius: 5px;
}

.done{
  text-decoration: line-through;
}

.btnStyle{
  margin: 10px;
}

.wide{
  width: 100%;
}

.btnsize{
  width: 50%;
}

.marginactive{
  margin: 0 0 0 0;
}

.listclass{
  list-style-type: none;
}

.headercolor{
  background-color: #8BC34A;
  border-bottom: 5px solid #9CCC65;
}

.seccolor{
  background-color: #8BC34A;
}

.activity{
  color: white;
}

.whitebor{
  border-top: 5px solid #9CCC65;
}

.height{
  min-height: 100%;
}

.mainheight{
  min-height: 50vh;
}

.menuheight{
  min-height: 37vh;
}

.navheight{
  min-height: 9vh;
}

.mrgtop{
  margin-top: 25px;
}

.panel-default > .panel-heading {
  background-color: #8BC34A;
}


@media(max-width: 992px){
  #delete {height: 70px; white-space: normal;}
  .secondrow {display: flex; flex-direction: column; justify-content: center;}
}

.btn_active{
  background-color: #76FF03;
  outline-color: #76FF03;
  margin-bottom: 9px;
}

.btn_active:active{
  box-shadow: 0 3px 0 0 #9CCC65;
}

.btn_active:hover{
  font-size: 16px;
}

.panel:hover{
  box-shadow: 0 4px 0 0 #9CCC65;
}

.panel-heading:hover{
  font-size: 18px;
}

.modal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content{
  background-color: #AED581;
  margin: 10% auto;
  padding: 0;
  border: 3px solid #DCEDC8;
  text-align: center;
  display: flex;
  min-height: 8%;
}

.modal-text{
  margin-top: 10px;
}

.modal-header{
background-color: #33691E;
min-height: 4%;
line-height: 10px;
padding: 2px 16px;
}

.col-centered{
    float: none;
    margin: 15% auto;
}

.close{
  float: right;
  font-weight: bold;
  color: #76FF03;
}
